<% if resource.errors.any? %>
  <div class="py-2 px-4 mb-2 text-sm border border-red-200 text-red-800 rounded bg-red-50" role="alert">
    <%= resource.errors.full_messages.first %>
  </div>
<% end %>
